.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;

}

.box {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  .anchor1 {
    width: 4%;
    height: 98%;

    font-weight: 300;
    font-size: small;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .anchors {
      height: 80px;
      width: 100%;

      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      .git {
        position: absolute;
        top: 38%;
        rotate: -90deg;
      }

      .linkedIn {
        position: absolute;
        rotate: -90deg;

        width: 80px;
      }
    }
  }

  .container {
    width: 92%;
    height: 98%;
  
    .anchor2 {
      width: 100%;
      height: 2%;

      font-weight: 300;
      font-size: small;
    }

    .content {
      border: 1px solid black;
      width: 100%;
      height: 98%;
      padding: 5px;
      .navigation {
        margin-top: 105px;
        height: 120px;
        width: 130px;

        position: absolute;
        z-index: 10;
        right: 5%;
      }

      .head {
        position: absolute;
        z-index: 5;
        width: 75%;
        height: 25%;
        font-weight: 300;
      }
    }

    .display {
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (min-width: 600px) {
  .box {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    .anchor1 {
      width: 2.4%;
      height: 98%;

      font-weight: 300;
      font-size: 15px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .anchors {
        height: 80px;
        width: 97%;

        position: relative;
        display: flex;

        .git {
          position: absolute;
          top: 38%;
          rotate: -90deg;

        }

        .linkedIn {
          position: absolute;
          rotate: -90deg;
      
          width: 80px;
        }
      }
    }

    .container {
      width: 95%;
      height: 98%;

      .anchor2 {
        width: 100%;
        height: 2%;

        font-weight: 300;
        font-size: 15px;
      }

      .content {
        border: 1px solid black;
        width: 100%;
        height: 98%;
        padding: 5px;
        .navigation {
          margin-top: 105px;
          height: 120px;
          width: 130px;

          position: absolute;
          z-index: 10;
          right: 5%;
        }

        .head {
          position: absolute;
          z-index: 5;
          width: 75%;
          height: 25%;
          font-weight: 300;
        }
      }

      .display {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media only screen and (min-width: 922px) {
  .App {
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;

  }
  .box {
    width: 80%;
    height: 100%;
    border: 1px solid black;
    .anchor1 {
      width: 2.4%;
      height: 98%;

      font-weight: 300;
      font-size: 15px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .anchors {
        height: 80px;
        width: 97%;

        position: relative;
        display: flex;

        .git {
          position: absolute;
          top: 38%;
          rotate: -90deg;

        }

        .linkedIn {
          position: absolute;
          rotate: -90deg;
   
          width: 80px;
        }
      }
    }

    .container {
      width: 95%;
      height: 98%;
 
      .anchor2 {
        width: 100%;
        height: 2%;

        font-weight: 300;
        font-size: 15px;
      }

      .content {
        border: 1px solid black;
        width: 100%;
        height: 98%;
        padding: 5px;
        .navigation {
          margin-top: 105px;
          height: 120px;
          width: 130px;

          position: absolute;
          z-index: 10;
          right: 5%;
        }

        .head {
          position: absolute;
          z-index: 5;
          width: 75%;
          height: 25%;
          font-weight: 300;
        }
      }

      .display {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .box {
    width: 80%;
    height: 100%;
    border: 1px solid black;

    .anchor1 {
      width: 2%;
      height: 98%;

      font-weight: 300;
      font-size: 15px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-direction: column;

      .anchors {
        height: 80px;
        width: 97%;
 
        position: relative;
        display: flex;

        .git {
          position: absolute;
          top: 45%;
          rotate: -90deg;
  
        }

        .linkedIn {
          position: absolute;
          rotate: -90deg;

          width: 80px;
        }
      }
    }

    .container {
      width: 96%;
      height: 98%;

      .anchor2 {
        width: 100%;
        height: 4%;

        font-weight: 300;
        font-size: 15px;
      }

      .content {
        border: 1px solid black;
        width: 100%;
        height: 96%;
        padding: 5px;
        .navigation {
          margin-top: 105px;
          height: 120px;
          width: 130px;

          position: absolute;
          z-index: 10;
          right: 5%;
        }

        .head {
          position: absolute;
          z-index: 5;
          width: 75%;
          height: 25%;
          font-weight: 300;
        }
      }

      .display {
        width: 100%;
        height: 100%;
      }
    }
  }
}
