@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MochiyPopOne-Regular";
  src: local("MochiyPopOne-Regular"),
    url(./assets/fonts/MochiyPopOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik-VariableFont_wght";
  src: local("Rubik-VariableFont_wght"),
    url(./assets/fonts/Rubik-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Rubik-MediumItalic";
  src: local("Rubik-MediumItalic"),
    url(./assets/fonts/static/Rubik-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: "RubikMarkerHatch-Regular";
  src: local("RubikMarkerHatch-Regular"),
    url(./assets/fonts/RubikMarkerHatch-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Outfit-Medium";
  src: local("Outfit-Medium"),
    url(./assets/fonts/static/Outfit-Medium.ttf) format("truetype");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 70px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
