.nav {
  border: 1px solid black;
  height: 60px;
  width: 120px;
  font-family: "RubikMarkerHatch-Regular";
}

.link {
  font-size: larger;
  color: black;
  text-shadow:0 2px 0 #8ed2d4,2px 3px 15px rgba(0,0,0,0.5);
  position: relative;
  animation: shake 1s infinite;
}



@keyframes shake {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.none {
  color: white;
}
