@mixin active {
  font-size: xx-large;
  color: black;
  position: relative;
  z-index: 10;
  animation: bubble 0.2s linear;
  animation-delay: 5px;
  transition: all 0.2s linear;
  font-weight: 300;
  text-shadow: 3px 3px 3px #ababab;
}

@mixin inActive {
 font-weight: 400;
  font-size: large;
  font-weight: lighter;
  position: absolute;
  transition: all 0.2s linear;
  right: 40px;
}

.nav {
  height: 170px;
  width: 120px;
}

.about-active {
  @include active;
  transform: translateY(-90px);

}

.about-inActive {
  @include inActive;
  transform: translateY(25px);

}


.projects-active {
  @include active;
  transform: translateY(-90px);
}

.p-inActive {
  @include inActive;
  transform: translateY(54px);
}

.contact-active {
  @include active;
  transform: translateY(-90px);
}

.c-inActive {
  @include inActive;
  transform: translateY(10px);
}

@keyframes bubble {
  0% {
    font-size: large;
    text-shadow: 1px 1px 1px #ababab;
  }

  100% {
    font-size: xx-large;
    text-shadow: 3px 3px 3px #ababab;
  }
}


@media  only screen and (min-width: 600px){
  .about-inActive {
  @include inActive;
  transform: translateY(25px);
  top: 40%;

}

.p-inActive {
  @include inActive;
  transform: translateY(54px);
   top: 40%;
}

.c-inActive {
  @include inActive;
  transform: translateY(10px);
   top: 99%;
}
}

@media only screen and (min-width: 922px){
  .about-active {
  @include active;
  transform: translateY(-90px);
    right: 40px;
}

.about-inActive {
  @include inActive;
  transform: translateY(25px);
    right: 90px;
}


.projects-active {
  @include active;
  transform: translateY(-90px);
      right: 70px;
}

.p-inActive {
  @include inActive;
  transform: translateY(54px);
      right: 90px;
}

.contact-active {
  @include active;
  transform: translateY(-90px);
      right: 70px;
}

.c-inActive {
  @include inActive;
  transform: translateY(10px);
      right: 90px;
}
}

@media only screen and (min-width: 1200px){
  .about-active {
  @include active;
  transform: translateY(-90px);
    right: 70px;
}

.about-inActive {
  @include inActive;
  transform: translateY(25px);
    right: 120px;
}


.projects-active {
  @include active;
  transform: translateY(-90px);
      right: 100px;
}

.p-inActive {
  @include inActive;
  transform: translateY(54px);
      right: 120px;
}

.contact-active {
  @include active;
  transform: translateY(-90px);
      right: 90px;
}

.c-inActive {
  @include inActive;
  transform: translateY(10px);
      right: 120px;
}
}